#Indelij IDEA
.idea/
*.iml

#Eclipse
**/target/**/*
.project
.classpath
.springBeans

#Git Extenstion
*.orig

#maven
.surefire*

#Other
*.log

.DS_Store

**/node_modules
**/node-install
**/dest
**/etc
**/node
**/static.tar.gz
**/static
**/bower_components